GridBackground {
    --grid-background-color: var(--gbqs-colors-grid-light-grey-1);
    --line-color: var(--gbqs-colors-grid-light-grey-2);
    --thick-line-color: var(--gbqs-colors-grid-light-grey-3);
    --spacing: var(--gbqs-metrics-grid-25);
}